body {
    font-family: 'Karla', sans-serif;
    background-color: rgb(139, 236, 179);
    background-size: cover;
    min-height: 100vh;
}

section{
    margin-top: 75px;
}

@media screen and (max-width: 768px){
    .div1 {
        background-color: rgb(255, 255, 255);
        display: block;
        position: relative;
        margin: auto;
        height: 30vh;
        width: 75%; 
        flex-direction: column;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    .div1 h1{
        font-size: 3.5vw;
        color: #369f9a;
        font-weight: 700;
        margin-left: 30px;
        padding-top: 20px;
    }
    .div1 h2{
        font-size: 2.5vw;
        color: #bfdf32;
        font-weight: 700;
        margin-left: 30px;
        margin-right: 35px;
        padding-top: 15px;
    }
    .div1 h3{
        position:sticky;
        font-size: 2.25vw;
        color: #a7abb7;
        font-weight: 400;
        margin-left: 30px;
        padding-top: 20px;
        margin-right: 35px;
        
    }
    .div2 {
        background-color: #2bb3b1;
        display: block;
        position: relative;
        margin: -25px auto;
        height: 30vh;
        width: 75%;
        flex-direction: column;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    .div2 h1{
        font-size: 3.5vw;
        color: #ffffff;
        font-weight: 700;
        margin-left: 30px;
        padding-top: 20px;
    }
    .div2 h2{
        font-size: 4.5vw;
        color: #ffffff;
        font-weight: 700;
        margin-left: 30px;
        margin-right: 35px;
        padding-top: 15px;
    }
    .div2 h2 span{
        font-size: 2.5vw;
        color: #efefef;
        font-weight: 500;
        padding-top: 15px;
    }
    .div2 h3{
        font-size: 3vw;
        color: #ffffff;
        font-weight: 400;
        margin-left: 30px;
        padding-top: 15px;
        padding-bottom: 25px;
        margin-right: 35px;
        margin-block-end: 25px;
    }
    .div2 .botao{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: hsl(71, 73%, 54%);
        margin: auto;
        position: relative;
        bottom: 25px;
        border-radius: 10px;
        height: 50px;
        width: 75%;
        text-decoration: none;
        color: white;
        box-shadow: 1px 1px 13px -3px rgba(0,0,0,0.38);
    }

    .div3 {
        background-color: #4abebd;
        display: block;
        position: relative;
        margin: auto;
        margin-top: 25px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        height:30vh;
        width: 75%;
        flex-direction: column;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .div3 h2{
        font-size: 3.5vw;
        color: #ffffff;
        font-weight: 700;
        margin-left: 30px;
        padding-top: 20px;
    }

    .div3 h4{
        font-size: 2vw;
        color: #ffffff;
        font-weight: 400;
        margin-left: 30px;
        padding-top: 20px;
        justify-content: space-between;
        line-height: 2.5vh;
    }
}

